body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#dashboard-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}
